
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.main-about {
    background-color: #4871f7;
    /* display: flex; */
    /* justify-content: center; */
}
.main-about svg {
    position: sticky;
}
.main-about h1 {
    margin-left: 10px;
    font-family: Poppins;
    font-size: 30px;
}
.kel-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.profile-card {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    align-content: space-between;
}
.main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}