@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');

.main-card {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-evenly;
    background-color: #4871f7;
}
.image {
    width: 230px;
    border-radius: 10px;
    
}
.main-card img {
    width: 100%;
    object-fit: contain;
}
        
.info-product {
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid rgb(255, 208, 0);
    width: 45%;
    margin-top: 35px;
    margin-bottom: 35px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    overflow-wrap: break-word;
    transition: box-shadow 1s ease-in-out ;
    box-shadow: 13px 14px 4px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 13px 14px 4px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 14px 4px 1px rgba(0,0,0,0.75);
}
/* .info-product:hover{
    box-shadow: 10px 10px 52px -9px rgba(236,240,120,1);
} */
.info-product h2 {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Ubuntu, Geneva, Tahoma, sans-serif;
}
.product-deks{
    margin-top: 5px;

}
@media only screen and  (max-width:800px) {
    .info-product{
        width:90%
    }
}